.slot {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin-top: 5rem;
  &-title {
    background-color: #007bdb;
    color: white;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-heading {
      font-weight: bold;
      font-size: 1rem;
    }
  }
  &-dates {
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  &-times {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    justify-content: space-evenly;
    padding: 0.8rem 2.5rem;
    &-column {
      display: flex;
      flex-direction: column;
    }
    &-cell {
      padding: 0.5rem 1rem;
      background-color: #e1e5ec;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.4rem;
      cursor: pointer;
      font-weight: bold;
    }
  }
}