.user-card {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  &-top {
    display: flex;
    img {
      border-radius: 50%;
      height: 10rem;
      margin: 0 2rem 1rem 0;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
  }
  &-name {
    font-weight: bold;
    color: grey;
    font-size: 1.5rem;
  }
  &-title {
    color: #367bb1;
    font-weight: bold;
    text-transform: uppercase;
  }
}